@import "~bootstrap/scss/functions";
@import "./helpers/variables"; //自定義
@import "~bootstrap/scss/bootstrap";
// * {
//   border: 1px solid red;
// }
body {
  background: #f4f5f6;
  color: #141414;
  letter-spacing: 1px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; //body設為100%的視窗高
}
.footer {
  margin-top: auto; //利用flex特性，margin-top設auto後會自動計算上面有多少空間而將元素往下推移
  height: 200px;
}
.login {
  color: #7383a3;
}
.login:hover {
  color: #dcdcdc;
}
.container.custom-container-width {
  max-width: 1200px; // 最後內容寬會是 980px
}
//nav-bar
$bg: #141414;
$text: rgba(255, 255, 255, 0.7);
$hover: darken($bg, 10%);
.nav-bg {
  background:#f4f5f6;
}
.bottom-line {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 20px;
  &:before,
  &:after {
    content: "";
    position: absolute;
    transition: transform 0.5s ease;
  }
}
.effect-1 {
  padding-top: 10px;
  &:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: $hover;
    transform: scaleX(0);
  }
  &:hover:before {
    transform: scaleX(1);
  }
}
.nav-link.active {
  font-weight: 900;
  &:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: $hover;
    transform: scaleX(1);
  }
}
.headPic-all {
  height: 300px;
  background-size: cover;
  background-position: center center;
}
.headPic {
  background-image: url(./assets/img/about-head.jpg);  
}
.headPic-webstore {
  background-image: url(./assets/img/webstore-head.jpg);
}
.sea-festival {
  background-image: url(./assets/img/sea.jpg);
  height: 400px;
  background-size: cover;
  background-position: center center;
}
.headPic-faq {
  background-image: url(./assets/img/faq-head.jpg);
}
.headPic-cart {
  background-image: url(./assets/img/cart-head.jpg);
}
.home-foot {
  background-image: url(./assets/img/home-foot.jpg);
  height: 300px;
  background-size: cover;
  background-position: center center;
}
.head-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 900;
  position: relative;
}
.campaign-title {
  font-size: 40px;
  padding-top: 50px;
  font-weight: 900;
  letter-spacing: 2px;
}
.campaign-text {
  font-size: 18px;
}
.campaign-subtitle{
  color: #000; 
  letter-spacing: 2px;
}
// homepage
.main-bg {
  background-image: url(./assets/img/index_visual.webp);
  height: 600px;
}
// 產品頁
.product-title {
  min-height: 3rem;
  height: 56px;
}

.add-btn {
  color: #fff;
  background-color: #141414;
  border: #0f1d40 1px solid;
  position: relative;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    transition: transform 0.5s ease;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #ffc62d;
    transform: scaleX(0);
  }
  &:hover {
    color: #000;
  }
  &:hover:after {
      transform: scaleX(1);
  }
}
// .add-btn:after {
//   content: "";
//   position: absolute;
//   transition: transform 0.5s ease;
//   z-index: 2;
//   left: 0;
//   bottom: 0;
//   width: 100%;
//   height: 100%;
//   z-index: -1;
//   background: #ffc62d;
//   transform: scaleX(0);
// }
// .add-btn:hover:after {
//   transform: scaleX(1);
// }
// .add-btn:hover {
//   color: #000;
// }

.more-btn {
  color: #000;
  border: #848484 1px solid;
  position: relative;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    transition: transform 0.5s ease;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #dcdcdc;
    transform: scaleX(0);
  }
  &:hover:after {
    transform: scaleX(1);
  }
  &n:hover {
    color: #000;
  }

}
// .more-btn:after {
//   content: "";
//   position: absolute;
//   transition: transform 0.5s ease;
//   z-index: 2;
//   left: 0;
//   bottom: 0;
//   width: 100%;
//   height: 100%;
//   z-index: -1;
//   background: #dcdcdc;
//   transform: scaleX(0);
// }
// .more-btn:hover:after {
//   transform: scaleX(1);
// }
// .more-btn:hover {
//   color: #000;
// }
.card:hover {
  box-shadow: 0px 0.3px 2.2px rgba(0, 0, 0, 0.02),
    0px 0.7px 5.3px rgba(0, 0, 0, 0.028), 0px 1.3px 10px rgba(0, 0, 0, 0.035),
    0px 2.2px 17.9px rgba(0, 0, 0, 0.042), 0px 4.2px 33.4px rgba(0, 0, 0, 0.05),
    0px 10px 80px rgba(0, 0, 0, 0.07);
}
// 訂單
.check-step {
  height: 150px;
  background: #ebedee;
}
.check-step-finished {
  background: #6b7288;
  color: #ffc62d;
}
.check-step-icon {
  font-size: 3rem;
}
.check-table-w60 {
  width: 60%;
}
//homepage
:root {
  --color: #fff;
  --inactive-color: rgb(211, 211, 211);
  --stroke-width: 1;
}
.list {
  display: flex;
}
// .list__item {
//   margin-right: 3px;
// }
.list__item:last-child {
  margin-right: 0;
}
.circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 80px;
  height: 80px;
}
.circle-back {
  position: absolute;
  inset: 0;
  color: var(--inactive-color);
  stroke: #9b9b9b;
  stroke-width: 1px;
  z-index: -5;
  fill: none;
}
.circle-front {
  position: absolute;
  inset: 0;
  color: var(--color);
  stroke: currentColor;
  stroke-width: var(--stroke-width);
  fill: none;
  /* Make the start of the animation visible from above. */
  transform: rotate(-90deg);
  /*  */
  stroke-dasharray: 157 157;
  stroke-dashoffset: -157;
  transition: stroke-dashoffset ease-in-out 500ms;
}
.swiper-pagination-bullet-active .circle-front {
  /* Animate with keyframes instead of transition. */
  transition: none;
  /* Indication of 0% progress. */
  stroke-dasharray: 0 157;
  stroke-dashoffset: 0;
  animation: spin 3s linear;
  animation-fill-mode: forwards;
}
.mail-box {
  height: 300px;
}

//購物車
.cart-table {
  padding-right: 0;
  padding-left: 0;
}
.cart-table-none {
  width: 150px;
}
.cart-name {
  width:40%; 
  padding-left:20px !important;
}
.cart-num {
  width:20%;
}
.cart-del {
  width:40%;
  padding-right:30px !important;
}
.cart-name-pict{
  text-align: center !important;
}
.cart-product-img {
  height: 150px !important;
  width: 150px !important;
  background-size: cover;
  background-position: center center;
}
.cart-select {
  width: 150px;
}
.cart-end {
  width:30%;
  padding-right:30px !important;
}

// checkOut
.check-none {
  width: 100px;
}
.check-no {
  width: 150px;
}
.check-product-img {
  height: 100px;
  background-size: cover;
  background-position: center center;
}
.order-none {
  width: 150px;
}
.form-note {
  color: red;
  font-size: 14px;
  font-weight: normal;
}
// 訂單
.order-table-100 {
  width: 100px;
}
.order-table-150 {
  width: 150px;
}
.order-info-product-img {
  height: 100px;
  background-size: cover;
  background-position: center center;
}
// 產品單頁
.product-item-img {
  background-color: #ebedee;
}
// 後台文章
.w-200 {
  width: 200px;
}
.w-100 {
  width: 100px;
}
.w-150 {
  width: 150px;
}
.w-120 {
  width: 120px;
}
// 後台產品
.admin-product-img {
  height: 100px;
  background-size: cover;
  background-position: center;
}
@keyframes spin {
  from {
    stroke-dasharray: 0 157;
  }

  to {
    stroke-dasharray: 157 157;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.more-circle {
  border: 1px solid #141414;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  line-height: 55px;
  text-align: center;
  text-decoration: none !important;
  transition-duration: 0.5s;
  cursor: pointer;
  &:hover {
    background: #141414;
    color: #9b9b9b;
  }
}

@media (max-width: 576px) {
  .l-section-top {
    display: none;
  }
  .cart-name {
    width:40%; 
    padding-left:35px !important;
  }
  .cart-num {
    width:40%;
  }
  .cart-del {
    width:20%;
    padding-right:10px !important;
  }
  .cart-end {
    width:20%;
    padding-right: 5px !important;
  }
}
.text-start .cart-name-pict{
  text-align: center;
}
